<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource ="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name = "Console" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n
            </pattern>
            <charset>
                utf8
            </charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logback/</file>
    </appender>

</configuration>